@import"../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;

}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 35px;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 85%,
            rgba(255, 255, 255, 0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 50px;
}

.contactBtn {
    text-decoration: none;
    background-color: rgba(170, 116, 116, 0.863);
    color: var(--color-text);
    border-radius: 70px;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
.buttonGroup {
    display: flex;    
    gap: 20px;         
    margin-bottom: 50px; 
}
.avatarImg {
    width: 20%;
    z-index: 1;
    border-radius: 100px;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, -0px);
    }
}


@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }

    .content {
        align-items: center;
    }
}